.app__testimonial {
  width: 100%;
  flex: 1;
  flex-direction: column;
}
.app__testimonial-item {
  width: 60%;
  min-height: 320px;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 2rem;
  box-shadow: 0, 0 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;

  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  .app__testimonial-content {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;

    p {
      font-size: 1.25rem;
      line-height: 2rem;
      color: var(--black-color);
      font-family: var(--font-base);
    }
    h4{
        font-weight: 900;
        margin-top: 2rem;
        color:var(--secondary-color)
    }
    h5{
        font-weight: 400;
        color: var(--gray-color);
        margin-top: 5px;
    }
  }

  @media screen and (max-width: 450px) {
    flex-direction: column;
  }
}
.app__testimonial-btns {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;

    div{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: var(--white-color);
        margin: 1rem;
        cursor: pointer;
        transition: all 0.3 ease-in-out;

        sgv{
            height: 20px;
            width: 20px;
            color:var(--secondary-color);
            
        }

        &:hover{
            background-color: var(--secondary-color);
            color:#fff;
        }
    }
}
.app__testimonial-brands {
  width: 80%;
  flex-wrap: wrap;
  margin-top: 2rem;

  div {
    width: 150px;
    margin: 1.5ref;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      filter: grayscale(1);
    }

    &:hover {
      img {
        filter: grayscale(0);
      }
    }
    @media screen and (min-width: 2000px) {
      width: 210px;
      margin: 2rem;
    }
    @media screen and (max-width: 450px) {
      width: 120px;
      margin: 1rem;
    }
  }
  @media screen and (max-width: 800px) {
    width: 100%;
  }
}
